<style>
  .list-distribution{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .list-distribution p{
    align-self: flex-start;
  }
  .progress{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    border: 1px solid black;
  }
  .progress-fill{
    border-radius: 20px;
    border: none;
    height: 100%;
  }
  .progress-fill.success{
    background-color: var(--cor-success);
  }
  .progress-fill.warning{
    background-color: var(--cor-warning );
  }
  .progress-fill.info{
    background-color: var(--cor-accent);
  }
</style>

@for (item of plans; track $index) {
  <ul style="list-style-type: none; margin-top: 8px;">
    <li class="list-distribution">
      <p class="font-body" >{{item.label}}</p>
      <div class="progress">
         <div [class]="'progress-fill ' + item.color" [style.width.%]="percentage(item.value)"></div>
      </div>
    </li>
  </ul>
}
