:host {
  display: block;
}
.container {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  gap: 16px;
}
/* .card-span-2 { grid-column: span 2; }
.card-span-3 { grid-column: span 3; }
.card-span-5 { grid-column: span 5; } */
